@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500);
:root {
    --color1: #199500;/* Replace with your desired color code */
    --color2:#D4FF00;
    --color3:#ffff00;  /* Replace with your desired color code */
}
body {
    background-color: #131415;
    color: white; /* Set text color to white for better readability on dark background */
}

.gradientColor {
    background: linear-gradient(to right, var(--color1) , var(--color2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-custom {
    background-color: var(--color1); /* Your desired background color */
    color: #fff; /* Your desired text color */
    border: none; /* Remove the default button border */
}

/* Custom button styles for when the button is hovered or focused */
.btn-custom:hover,
.btn-custom:focus {
    background-color: white; /* Your desired background color on hover/focus */
    color: black; /* Your desired text color on hover/focus */
}

.hero , .services , .about-us{
    height: 100vh;
    
}

header {
    backdrop-filter: blur(2px); /* Adjust the blur intensity as needed */
    /* background-color: rgba(255, 255, 255, 0.5); */
}

.nav-pills .nav-item .nav-link {
    color: white; /* Set the text color to white */
}

#hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Scale the video to cover the entire hero section */
    z-index: -1;
    opacity: 1; /* Adjust opacity as needed */
}

/* .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
} */

.px-4 {
    /* Your existing styles */
    z-index: 1; /* Make sure this value is higher than the video's z-index */
}

.hero-content{
    color: #ffff;
    display: flex; /* Enable Flexbox */
    flex-direction: column; /* Stack the content vertically */
    justify-content: center; /* Vertically center the content */
    align-items: center; /* Horizontally center the content */
    height: 75%; 
}

.white-text {
    color: white !important;
}

.services{
    background-color: #ffff;
}